.divl{

    left:0px;
    background-color:rgb(206, 206, 228);
width:30%;
height:500px;
position: relative;

}

.div2{


   
    background-color:rgb(206, 206, 228);
width:30%;
height:500px;
display: inline;
position: relative;
float: right;
top: -500px;
right:50px;

}